<div class="chat-body">
  @if (isAnyChatActive()) {
  <app-chat-history />

  <div class="input-container">
    <textarea
      [(ngModel)]="userInput"
      (keydown.enter)="onEnterPress($event)"
      [disabled]="isLoading"
      placeholder="{{
        isLoading ? 'Waiting for response...' : 'Type your message here...'
      }}"
      class="input-field"
      [class.loading]="isLoading"
    ></textarea>
    @if (isLoading) {
    <div class="loading-indicator">
      <div class="spinner"></div>
      <span>AI is thinking...</span>
    </div>
    }
  </div>
  }@else {
  <h1 class="opening-title">Welcome your chatbot</h1>
  <textarea
    [(ngModel)]="userInput"
    (keydown.enter)="createNewChat($event)"
    [disabled]="isLoading"
    placeholder="{{
      isLoading ? 'Waiting for response...' : 'Type your message here...'
    }}"
    class="input-field"
    [class.loading]="isLoading"
  ></textarea>
  }
</div>
